.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #154733;
  z-index: 1000;
  border-bottom: 6px solid #154733;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-user-email {
  color: #f9fafb;
  font-size: 0.9rem;
  margin-right: 0.75rem;
}

.logo-icon {
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.logo-icon img {
  width: 250%;
  height: 900%;
  object-fit: contain;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.6rem 1rem 0.4rem;
  margin-left: 2rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-button {
  background: #0f5c30a2;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
}

.nav-button:hover {
  background: #0f5c30a2;
}

.nav-link-button {
  color: white;
  padding: 0.6rem 0rem;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
}

.nav-link-button:hover {
  background: #0f5c30a2;
}
